In [54]:
import pandas as pd

In [55]:
df = pd.read_csv('newproject_1\\88.csv')

In [56]:
df.head(100)

                                                 name series_id
0     Borrowings from the Federal Reserve, Seasona...  SEABORRW
1     Adjustment Plus Seasonal Borrowings of Depos...    ASBORR
2                  Term Auction Credit (DISCONTINUED)   TERMAUC
3     Borrowings from the Federal Reserve, Other C...  OTHBORRW
4     Seasonal Borrowings of Depository Institutio...   SEABORR
..                                                ...       ...
95    Portugal / U.S. Foreign Exchange Rate (DISCO...    EXPOUS
96    U.S. / Ireland Foreign Exchange Rate (DISCON...    EXUSIR
97    Austria / U.S. Foreign Exchange Rate (DISCON...    EXAUUS
98    Belgium / U.S. Foreign Exchange Rate (DISCON...    EXBEUS
99    Foreign Exchange Rate: Euro Community (DISCO...    EXUSEC

[100 rows x 2 columns]

In [57]:
from fredapi import Fred
fred = Fred(api_key='df4ca42596ef64e8e2aa5c9d2bbbf6cb')

In [58]:
data = fred.get_series_first_release('GDP')
data.tail()

date
2020-10-01    21479.529
2021-01-01    22048.894
2021-04-01    22722.581
2021-07-01    23173.496
2021-10-01    23992.355
Name: value, dtype: object

In [59]:
data = fred.get_series_first_release('AMERIBOR')
data.tail()

date
2022-03-13        0.0
2022-03-14    0.10095
2022-03-15    0.10453
2022-03-16    0.11053
2022-03-17    0.36956
Name: value, dtype: object

In [60]:
df2 = pd.read_csv('newproject_1\\88.csv')

In [61]:
df2.head(10)

                                                name series_id
0    Borrowings from the Federal Reserve, Seasona...  SEABORRW
1    Adjustment Plus Seasonal Borrowings of Depos...    ASBORR
2                 Term Auction Credit (DISCONTINUED)   TERMAUC
3    Borrowings from the Federal Reserve, Other C...  OTHBORRW
4    Seasonal Borrowings of Depository Institutio...   SEABORR
5         Velocity of MZM Money Stock (DISCONTINUED)      MZMV
6    Time Deposits Adjusted at all Commercial Ban...   M2TDASL
7           Retail Money Market Funds (DISCONTINUED)    WRMFSL
8                                                 M1      M1SL
9       Real User Cost Index of MSI-M2 (alternative)     OCM2A

In [62]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       746 non-null    object
 1   series_id  746 non-null    object
dtypes: object(2)
memory usage: 11.8+ KB

In [63]:
xx = df2.iloc[:,1]
xx = xx.replace('(','').replace(')','')  #remove the parenthesis

In [64]:
xx.head()

0    SEABORRW
1      ASBORR
2     TERMAUC
3    OTHBORRW
4     SEABORR
Name: series_id, dtype: object

In [65]:
for x in xx[0:4]:
    data = fred.get_series_first_release(x)
    print(data)

date
1975-01-08    19.0
1975-01-15    13.0
1975-01-22    12.0
1975-01-29    10.0
1975-02-05    11.0
              ...
2020-08-12    37.0
2020-08-19    41.0
2020-08-26    41.0
2020-09-02    34.0
2020-09-09    34.0
Name: value, Length: 2384, dtype: object
date
1986-01-08    0.612
1986-01-15    0.615
1986-01-22    0.964
1986-01-29    0.841
1986-02-05    0.727
              ...
2002-12-11    0.209
2002-12-18    0.055
2002-12-25    0.059
2003-01-01    0.045
2003-01-08    0.027
Name: value, Length: 888, dtype: object
date
2007-12-01     11.613
2008-01-01     44.516
2008-02-01       60.0
2008-03-01     75.484
2008-04-01      100.0
2008-05-01    127.419
2008-06-01      150.0
2008-07-01      150.0
2008-08-01      150.0
2008-09-01    149.814
2008-10-01    244.778
2008-11-01    393.088
2008-12-01    438.327
2009-01-01    403.523
2009-02-01    438.822
2009-03-01    477.049
2009-04-01    444.933
2009-05-01     403.97
2009-06-01    316.868
2009-07-01    255.119
2009-08-01     224.49
2009-09-01    196.731
2009-10-01    155.396
2009-11-01    110.049
2009-12-01     82.014
2010-01-01     54.209
2010-02-01     23.677
2010-03-01      7.286
2010-04-01      0.796
2010-05-01        0.0
2010-06-01        0.0
2010-07-01        0.0
2010-08-01        0.0
2010-09-01        0.0
2010-10-01        0.0
2010-11-01        0.0
2010-12-01        0.0
2011-01-01        0.0
2011-02-01        0.0
2011-03-01        0.0
2011-04-01        0.0
Name: value, dtype: object
date
2008-03-19     2765.0
2008-03-26     2765.0
2008-04-02        0.0
2008-04-09        0.0
2008-04-16        0.0
               ...
2020-08-12    82488.0
2020-08-19    79339.0
2020-08-26    79339.0
2020-09-02    77350.0
2020-09-09    77350.0
Name: value, Length: 652, dtype: object